body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.header-logo {
    color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.span-logo-color {
    color: #2E2F42;
}

.header-link {
    color: #2e2f42;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-link:hover, 
.address-link:focus {
    color: #404BBF;
}
.section-one {
    background-color: #2e2f42;
}
.solutions {
    color: #ffffff;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
}

.button {
    color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.button {
    color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
}

.section-two {
    background: #FFF;
}
.options-info {
    color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.header-info {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.option-par {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-three {
    background-color: #F4F4FD;
}

.team-info {
    color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.team-people-info {
    background-color: #FFFFFF;
}
.team-people {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-people-prof {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio {
    color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.firm-propos {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
} 

.firm-propos-class {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.end-info {
    background-color: #2e2f42;
}
.span {
    color: #f4f4fd;
}

.end-info-item {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.span-logo-white {
    color: #F4F4FD;
}
